.recipeHomeCont {
  background: white;
  padding: 3rem;
  border-radius: 2rem;
}

.recipeCont {
  background: #dcffd9;
  margin: 1rem;
  border-radius: 1rem;
}

.recipeLink {
  text-decoration: none;
  color: black;
}

.updateOpen {
  border: 1px solid blue;
}

.updateClose {
  display: none;
}

/* NAVIGATION STYLES */

.nav {
  display: flex;
  justify-content: space-between;
}

.navLogo {
  width: 11rem;
  border-radius: 1.5rem;
  margin-top: -5rem;
}